
<html>
<head>
<title>Print ChorePoints</title>
<link type="text/css" rel="stylesheet" href="/styles/default.css">
</head>
<body>
<br />
<table cellpadding="5">
<tr>
 <td>
 ##DATA##
 </td>
</tr>
</table>
</body>
</html> 