

<table class="cp-sissior-guide">
<tr><td align="left">

<table border="0" cellpadding="0" cellspacing="0" class="table-cp1" background="../imgs/##IMG_STYLE##/chorePoint_##VALUE##.gif" width="672" height="286">
 <tr height="70">
  <td colspan="5">&nbsp;</td>
 </tr>
 <tr>
  <td width="90">&nbsp;</td>
  <td width="227">&nbsp;</td>
  <td width="5">&nbsp;</td>
  <td width="116">&nbsp;</td>
  <td>&nbsp;</td>
 </tr>
 
 <tr>
  <td>&nbsp;</td>
  <td><span class="serial">##ID##</span></td>
  <td width="120">&nbsp;</td>
  <td><span class="admin">##ADMIN##</span></td>
  <td>&nbsp;</td>
 </tr>
 
 <tr>
  <td>&nbsp;</td>
  <td><span class="date">##DATE##</span></td>
  <td width="2">&nbsp;</td>
  <td width="116"><span class="serial">##ID##</span></td>
  <td>&nbsp;</td>
 </tr>
 
 <tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td >&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
 </tr>
 
 <tr>
  <td colspan="5">&nbsp;</td>
 </tr>
</table>
 
 
</td></tr>
</table>