
<html>
<head>
<title>Print ChorePoints</title>
<link type="text/css" rel="stylesheet" href="/styles/default.css">
</head>
<body onload="self.focus()">
<table border="0" class="table-cp-sheet-1" cellspacing="0">
<tr><td colspan="3" align="center"><form><input type="button" value="print" onclick="window.print()" /></form></td></tr>
<tr><td height="30" colspan="3">&nbsp;<br /><br /></td></tr>
##ROW##
</table>
</body>
</html> 