



<!-- /templates/forms/create_chore.tmpl -->
<form action="/zbin/saveChore.php" method="post">
<table border="0" class="table-chore-create">
<tr><td><b>Name</b></td><td><input type="text" name="name" size="20"></td></tr>
<tr><td><b>Description</b></td><td><textarea rows="5" cols="10" name="description"></textarea></td></tr>
<tr><td><b>Image</b></td><td><input type="text" name="image"></td></tr>
<tr><td><b>Value</b></td><td><input type="text" name="value" size="20"></td></tr>
<tr><td><b>Complexity</b></td><td><input type="text" name="complexity" size="20"></td></tr>
<tr><td align="center" colspan="2"><input type="submit" value="save" /></td></tr>
</table>

</form>
	