


<form name="login" class="iform" action="/zbin/login.php" method="post">
<table>
<tr><td><b>User</b></td><td><input type="text" name="user" size="20" /></td></tr>
<tr><td><b>Pass</b></td><td><input type="password" name="pass" size="20" /></td></tr>
<tr><td colspan="2" align="center"><input type="submit" value="login" /></td></tr>
</table>
</form>
<script>
 document.login.user.focus();
</script>