



<!-- /templates/forms/new_group.tmpl -->
<form name="new_group" action="/zbin/saveGroup.php" method="post">


<table border="0" class="table-user-create">
<tr><td colspan="2" align="left" class="table-header-1">New user group</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td><b>Type</b></td><td>##SELECT-TYPE##</td></tr>
<tr><td><b>Name</b></td><td><input type="text" name="name" size="60"></td></tr>
<tr><td><b>Description</b></td><td><textarea name="description" cols="40" rows="4"></textarea></td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>
<tr><td align="right" colspan="2"><input type="submit" value="save" /></td></tr>
</table>

</form>


<script>

function updateForm(){
var selection = document.new_group.typeID.options.selectedIndex;
var nameField = document.new_group.name;
if(selection == 0){
nameField.value = "";
}else if(selection == 1){
nameField.value = "<Family Name>";
}else if(selection == 2){
nameField.value = "<Classroom>";
}else if(selection == 3){
nameField.value = "<Treatment Group>";
}
nameField.select();
nameField.focus();

}

</script>