



<!-- /templates/forms/redeem.tmpl -->
<form action="/zbin/accountDeposit.php" method="post">
<table border="0" class="table-account-redeem">
<tr><td><b>Serial:</b></td><td><input type="text" name="serial" size="20" value="##SERIAL##"></td></tr>
<tr><td><b>Admin:</b></td><td><input type="text" name="admin" size="20" value="##ADMIN##"></td></tr>
<tr><td><b>Value:</b></td><td><input type="text" name="value" size="20" value="##VALUE##"></td></tr>
<tr><td><b>Date:</b></td><td><input type="text" name="date" size="20" value="##DATE##"></td></tr>
<tr><td align="center" colspan="2"><input type="submit" value="Deposit Chore Point" /></td></tr>
</table>
</form>
	