
<!-- user_navbar.tmpl -->

<!-- user_navbar.tmpl -->
<table width="100%">

<tr><td></td></tr>
<tr><td><a href="login.php" class="nav">Home</a></td></tr>
<tr><td><a href="login.php" class="nav">New Account</a></td></tr>
<tr><td></td></tr>




</table>
